.navList {
    gap: 10px;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
  }

  .link, .linkcontacts{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
    margin-right: 10px;
  }
  
  .link:hover, .linkcontacts:hover,
  .link:focus , .linkcontacts:focus {
    background-color: orange;
    border-radius: 10px;
    color: black;
    outline: none;
  }
  .linkcontacts{
    margin-right: 10px;
  }